/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;
	position: relative;
}

.menu {
	justify-content: space-between;
	display: flex;
	background: rgba(74, 74, 74, 0.5);
	position: absolute;
    left: 0;
    right: 0;
}

.headerLogo {
	display: flex;
	padding: 20px 40px 20px 40px;
}

.headerLogo h1 a {
	display: block;
    width: 182px;
    height: 36px;
    background: url(img/logo.png) no-repeat;
    text-indent: 101%; /*首行縮排*/
    overflow: hidden; /*自動隱藏超出的文字或圖片*/
    white-space: nowrap; /*希望元素在第一排上面，沒有斷行*/
}

.menu ul {
    display: flex;
    justify-content: space-between;
	margin-right: 50px;
}

.menu li a {
	display: block;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: 20px 25px 20px 25px;
}

.menu li:hover {
	border-bottom: 5px solid #07b88c;
    transform: scale(1.2);
}

.banner {
	height: 560px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.banner h2 {
    font-size: 48px;
    line-height: 1.6;
}

.contact {
    max-width: 1024px;
    margin-top: 60px;
    background: #ebebeb;
    display: flex;
    justify-content: space-between;
}
.contact h4 {
    font-size: 30px;
    font-weight: bold;
    line-height: 2;
}

.footer {
	display: flex;
	background: #323228;
	justify-content: space-between;
}

.footerLogo {
	padding: 30px 40px 10px 40px;
}

.footerLogo p {
	color: #9b9b9b;
	padding: 5px 5px 5px 35px;
}

.footer ul {
	display: flex;
	align-items: center;
	margin-right: 50px;
}

.footer li a {
	display: block;
	padding-left: 20px;
}

.footer li a:hover {
	transform: scale(1.2);
}


/*index*/

.banner_index {
	background: url(img/bg_index.png);
}
.banner_index h2 {
	color: #00cc99;
	font-weight: bold;
	padding-left: 40px;
}

.banner_index span {
	color: white;
}

.banner_index .btn {
	background: #00cc99;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	padding: 10px 50px;
	margin: 40px 40px 40px 40px;
}

.banner_index .btn span {
	padding-left: 20px;
}

.banner_index .btn:hover {
    color: #0c9;
    background: #fff;
    cursor: pointer;
}

.course {
    margin-top: 60px;
}

.course div {
	justify-content: space-between;
    display: flex;
    align-items: center;
}
.course div span {
	font-size: 18px;
	color: #9b9b9b;
	padding-left: 10px;
}

.course div a {
    color: #0c9;
    border: 1px solid #0c9;
    border-radius: 4px;
    padding: 5px 10px;
    font-weight: bold;
	margin-right: 20px;
}

.course div h2 {
	font-size: 40px;
	color: #00cc99;
	font-weight: bold;
	padding-left: 20px;
}

.course div a:hover {
    color: #fff;
    background: #0c9;
}

.course ul {
	display: flex;
	justify-content: space-around;
}

.course-item {
    width: 250px;
    padding: 25px;
    margin-top: 15px;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.course-item .courseImg {
    width: 150px;
    height: 150px;
    object-fit: contain; /*增加或減少載入物件的寬度及高度(維持原比例)直到放得進所定義的元素寬高*/
    margin: 0 auto;
}

.course-item h3 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.course-item p {
	font-size: 15px;
	font-weight: bold;
	color: #9b9b9b;
    margin-top: 20px;
}

.compare {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.compare h2 {
	font-size: 40px;
	color: #00cc99;
	font-weight: bold;
	padding-left: 20px;
}

.compare span {
	font-size: 18px;
	color: #9b9b9b;
	padding-left: 10px;
}

.compare .highlight {
    color: #2AB18E;
    font-weight: bold;
}

.compare table {
    width: 100%;
    margin-top: 15px;
}

.compare table tr {
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
}

.compare table tr:hover {
    background-color: mintcream;
}

.compare table th {
    background-color: #ebebeb;
    text-align-last: left;
    font-weight: bold;
    padding: 10px 20px;
}

.compare table td {
    padding: 10px 20px;
}

.index-contact {
    margin-top: 60px;
    padding: 150px 40px 60px 40px;
}    
.contact form {
    width: 45%;
    display: flex;
    flex-direction: column;
	align-items: flex-end;
}
.contact form input {
    border-radius: 4px;
    border: none;
}
.contact-info {
    width: 100%;
    margin-bottom: 18px;
    padding: 16px 20px;
    font-size: 16px;
}

.index-contact .btn {
	background: #00cc99;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	padding: 10px 50px;
}

.index-contact .btn:hover {
    color: #0c9;
    background: #fff;
    cursor: pointer;
}

/*course*/

.banner_course {
    background: url(img/bg_course.png);
}

.banner_course h2 {
    color: white;
    margin-left: 38px;
    margin-bottom: -30px;
}

.banner_course p {
    color: #0c9;
    font-size: 24px;
    margin-left: 38px;
    margin-bottom: 50px;
    padding-bottom: 60px;
}

.banner_course div {
    position: absolute;
    top: 120px;
    right: 56px;
    display: flex;
}

.banner_course img {
    padding-left: 20px;
}

.banner_course .btn {
    margin-left: 38px;
    margin-top: -30px;
    background: #00cc99;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 40px;
}

.banner_course span1 {
    padding-left: 20px;
}

.banner_course .btn:hover {
    color: #0c9;
    background: #fff;
    cursor: pointer;
}

.teacher {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.teacher img {
    margin-right: 60px;
}

.teacher h3 {
    font-size: 32px;
    color: #0c9;
    font-weight: bold;
    margin-right: 60px;
    line-height: 1.5;
}

.teacher span {
    margin-top: 10px;
    color: black;
}

.teacher ul {
    list-style-type: disc;
}

.teacher ul li {
    font-size: 20px;
    color: #9b9b9b;
    font-weight: bold;
    padding-left: 30px;
}

.content {
    margin: 0 auto;
    width: 680px;
    margin-top: 60px;
}

.content h3 {
    color: #0c9;
    font-weight: bold;
    font-size: 32px;
    margin-left: -20px;
}

.content span {
    font-size: 20px;
    font-weight: bold;
    color: #9b9b9b;
    padding-left: 30px;
}

.content ul {
    list-style-type: decimal;
    margin-top: 25px;
}

.content ul li {
    font-weight: bold;
    font-size: 18px;
    padding-left: 30px;
}

.summary {
    margin: 0 auto;
    width: 680px;
    margin-top: 60px;
}

.summary h3 {
    color: #0c9;
    font-weight: bold;
    font-size: 32px;
    margin-left: -20px;
}

.summary span {
    font-size: 20px;
    font-weight: bold;
    color: #9b9b9b;
    padding-left: 30px;
}

.summary table {
    margin-top: 25px;
    margin-left: -25px;
    text-align: left;
    width: 680px;
}

.summary table tr  th{
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    background: #ebebeb;
    text-indent: 2em;
}

.summary table tr td {
    padding: 15px;
    font-size: 18px;
    color: #9b9b9b;
    text-indent: 2em;
}

.register {
    background: #ebebeb;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register p {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.8;
    padding: 130px 70px 130px 70px;
    margin-left: -100px;
}

.register .btn {
    margin-bottom: -50px;
    background: #00cc99;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 40px;
}

.register .btn:hover {
    color: #0c9;
    background: #fff;
    cursor: pointer;
}


/*f&q*/

.banner_QA {
    background: url(img/bg_QA.png);
    align-items: center;
}

.banner_QA h2 {
    color: white;
    margin-top:  -25px;
    margin-bottom: -30px;
}

.banner_QA p {
    color: #0c9;
    font-size: 24px;
}

.search {
    width: 55%;
    position: relative;
}

.search input {
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 16px 18px;
}

.search a {
    position: absolute;
    top: 55px;
    right: -15px;
    color: black;
}


.common {
    width: 750px;
    margin: 0 auto;
    margin-top: 60px;
}

.common h3 {
    color: #0c9;
    font-weight: bold;
    font-size: 32px;
}

.common span {
    font-size: 20px;
    font-weight: bold;
    color: #9b9b9b;
    padding-left: 20px;
}

.common .question {
    margin-top: 30px;
}

.common .question h4 {
    font-weight: bold;
    font-size: 20px;
    color: #323223;
}

.common .question p {
    font-weight: bold;
    color: #9b9b9b;
}

.common .question a {
    font-weight: bold;
    color: #9b9b9b;
}

.payment {
    width: 750px;
    margin: 0 auto;
    margin-top: 60px;
}

.payment h3 {
    color: #0c9;
    font-weight: bold;
    font-size: 32px;
}

.payment span {
    font-size: 20px;
    font-weight: bold;
    color: #9b9b9b;
    padding-left: 20px;
}

.payment .question ul {
    width: 650px;
    margin: 0 auto;
    list-style-type: decimal;
}

.payment .question ul li {
    padding-left: 30px;
    text-indent: 2px;
    color: #9b9b9b;
    font-weight: bold;
}

.payment .question {
    margin-top: 30px;
}

.payment .question h4 {
    font-weight: bold;
    font-size: 20px;
    color: #323223;
}

.payment .question p {
    font-weight: bold;
    color: #9b9b9b;
}

.payment .question a {
    font-weight: bold;
    color: #9b9b9b;
}

.refund {
    width: 750px;
    margin: 0 auto;
    margin-top: 60px;
}

.refund h3 {
    color: #0c9;
    font-weight: bold;
    font-size: 32px;
}

.refund span {
    font-size: 20px;
    font-weight: bold;
    color: #9b9b9b;
    padding-left: 20px;
}

.refund .question {
    margin-top: 30px;
}

.refund .question h4 {
    font-weight: bold;
    font-size: 20px;
    color: #323223;
}

.refund .question p {
    font-weight: bold;
    color: #9b9b9b;
}

.refund .question ul {
    width: 650px;
    margin: 0 auto;
    list-style-type: disc;
}

.refund .question ul li {
    padding-left: 30px;
    text-indent: 2px;
    color: #9b9b9b;
    font-weight: bold;
}

.refund .question a {
    font-weight: bold;
    color: #9b9b9b;
}

.refund .next {
    margin-top: 30px;
}

.refund .next p {
    color:#323223;
}

.info {
    background: #ebebeb;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info h4 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.8;
    margin-top: -220px;
}

.info form {
    width: 50%;
    display: flex;
    flex-direction: column;
	align-items: flex-end;
    padding: 120px 50px 50px 50px;
}

.info form input  {
    border-radius: 4px;
    border: none;
}

.info form textarea {
    border-radius: 4px;
    border: none;
}

.info .info-n {
    width: 80%;
    margin-bottom: 18px;
    padding: 16px 20px;
    font-size: 16px;
}

.info  .btn {
	background: #00cc99;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	padding: 10px 50px;
}

.info  .btn:hover {
    color: #0c9;
    background: #fff;
    cursor: pointer;
}
